<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Prac/style.css">
    
    <title>Document</title>
  </head>
  <body>
    <img src="/Prac/1234/png/вентиль дросельный проходной.svg" width="111px" height="65px" id="line" onclick="draw()" >
    <h4>Drag one or more of the shapes</h4>
    <canvas id="canvas" width=300 height=300></canvas>
    
    
    <script type="text/javascript" src="/Prac/lab2.js"></script>
</body>
</html>